<div *ngIf="pageLoading">
  <app-loading></app-loading>
</div>
<div *ngIf="!pageLoading">

  <div class="header_bg">
    <div class="header">
      <div class="header_logo">
        <a href="#">
          <img src="../assets/image/logo.png" alt="">
        </a>
      </div>

      <div class="header_menu">
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
          <li class="drop">
            <a href="#"><i class="fas fa-user-circle"></i> John <i class="fas fa-angle-down"></i></a>
            <ul>
              <li>
                <a href="#">menu1</a>
              </li>
              <li>
                <a href="#">menu2</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mob_menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>

  <div class="container section_search">
    <div class="row">
      <div class="col-sm-8 section_search_col">
        <form class="section_search_form" (ngSubmit)="searchByCityName()">
          <input type="text" #search_city_input [(ngModel)]="searchCityName" [ngModelOptions]="{standalone: true}" name="" value="" placeholder="Search your location">
          <button type="submit" name="button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>

  <div class="container section1">
    <div class="row">
      <div class="col-sm-12">
        <div class="section1_title">
          <i class="fas fa-map-marker-alt"></i><span><b> {{currentWeather.city}}</b></span>
        </div>
      </div>
    </div>
    <div class="row sec1_box_bg">
      <div class="col-md-3">
        <div class="sec1_box active">
          <div class="sec1_box_item">
            <div class="sec1_box_top">
              <div class="sec1_box_left">
                Now  <i class="far fa-clock"></i> {{currentWeather.date.time}}
              </div>
              <div class="sec1_box_right">

                <div class="dropdown">
                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="isCelsius">Celsius </span>
                    <span *ngIf="!isCelsius">Fahrenheit </span>
                    <i class="fas fa-cog"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                      <a href="#" (click)="fToC()">Celsius</a>
                    </li>
                    <li>
                      <a href="#" (click)="cToF()">Fahrenheit</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sec1_box_img">
              <img src="../assets/image/weather/{{currentWeather.icon}}.png" alt="">
              <span class="sec1_box_text_span">{{round(currentWeather.temp)}}<span>o</span></span>
            </div>
            <div class="sec1_box_country">{{currentWeather.weatherKind}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sec1_box">
          <div class="sec1_box_item">
            <div class="sec1_box_top">
              <div class="sec1_box_left">
                Morning  <i class="fas fa-sun"></i>
              </div>
            </div>
            <div class="sec1_box_img">
              <img src="../assets/image/weather/{{currentWeather.icon}}.png" alt="">
              <span class="sec1_box_text_span">{{round(currentWeather.tempMin)}}<span>o</span></span>
            </div>
            <div class="sec1_box_country">{{currentWeather.weatherKind}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sec1_box">
          <div class="sec1_box_item">
            <div class="sec1_box_top">
              <div class="sec1_box_left">
                Afternoon <i class="fas fa-sun"></i>
              </div>
            </div>
            <div class="sec1_box_img">
              <img src="../assets/image/weather/{{currentWeather.icon}}.png" alt="">
              <span class="sec1_box_text_span">{{round(currentWeather.temp)}}<span>o</span></span>
            </div>
            <div class="sec1_box_country">{{currentWeather.weatherKind}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sec1_box">
          <div class="sec1_box_item">
            <div class="sec1_box_top">
              <div class="sec1_box_left">
                Night <i class="fas fa-moon"></i>
              </div>
            </div>
            <div class="sec1_box_img">
              <img src="../assets/image/weather/{{currentWeather.icon}}.png" alt="">
              <span class="sec1_box_text_span">{{round(currentWeather.tempMax)}}<span>o</span></span>
            </div>
            <div class="sec1_box_country">{{currentWeather.weatherKind}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section2">
    <div class="row">
      <div class="col-sm-12">
        <div class="section2_title">
          <i class="fas fa-calendar-alt"></i><span><b> 5 day forecast</b></span>
        </div>
      </div>
    </div>
    <div class="row sec2_box_bg">
      <div class="col-md-2" *ngFor="let day of forecast">
        <div class="sec1_box">
          <div class="sec1_box_item">
            <div class="sec1_box_top">
              <div class="sec1_box_left">
                <b>{{daysOfWeek[day.date.dayOfWeek]}}</b> {{day.date.dayOfMonth + ' ' + monthNames[day.date.month]}}
              </div>
            </div>
            <div class="sec1_box_img">
              <img src="../assets/image/weather/{{day.icon}}.png" alt="">
              <span class="sec1_box_text_bg">
                  <span class="sec2_box_text1">{{round(day.tempMax)}}<span>o</span></span>
                  <span class="sec2_box_text2"> {{round(day.tempMin)}}<span>o</span></span>
                </span>
            </div>
            <div class="sec1_box_country">{{day.weatherKind}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
